#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  // padding: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    background: #4086d8;
    position: fixed;
    width: 100%;
    z-index: 100000;
  a {
    display: block;
    font-weight: bold;
    color: #2c3e50;
    // margin: 0px 20px;
    font-size: 16px;
    // background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    color: transparent;
    color: #FFFFFF;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
  .el-menu--horizontal{
    .el-icon-location,.el-submenu__icon-arrow,.el-icon-arrow-down{
      color:#ffffff;
    }
  }
  .el-menu-item{
    padding: 0px;
    min-width: 100px;
    a{
      display: inline-block !important;
      // width: 100%;
      // height: 100%;
      font-size: 16px;
      color:#FFFFFF;
      margin: 0px;
      padding: 0px 20px;
    }
    .el-submenu__title{
      span{
        font-size: 16px;
        color:#FFFFFF;
      }
    }
  }
  // a{
  //   display: block !important;
  //   width: 100%;
  //   height: 100%;
  //   padding: 0px 20px;
  // }
}
.username{
  display:block;
  position: absolute;;
  font-size: 16px;
  color:#FFFFFF;
  right: 20px;
  cursor: pointer;
}
a{
  display: inline-block !important;
  // width: 100%;
  // height: 100%;
  margin: 0px;
  padding: 0px 20px;
}
.header-menu{
  width: 100%;
  height: 60px;
   .el-menu{
    width: 100%;
    height: 60px;
    .el-menu-item,.el-submenu{
      // border: 1px solid red;
      padding: 0px;
      min-width: 100px;
      a{
        display: inline-block !important;
        // width: 100%;
        // height: 100%;
        font-size: 16px;
        color:#FFFFFF;
        margin: 0px;
        padding: 0px 20px;
      }
      .el-submenu__title{
        span{
          font-size: 16px;
          color:#FFFFFF;
        }
      }
    }
   }
   .el-menu--horizontal>.el-menu-item.is-active,.el-menu--horizontal>.is-opened .el-submenu__title{
      background: #336BAD !important;
   }
  
}