.header{
  width:100%;
  height: 60px;
  background: #4086d8;
}
.hello {
  margin-top: 100px;
    .el-form{
      width: 600px;
      margin: 0 auto;
      height: 300px;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      padding-right: 20px;
      padding: 40px 40px 0px 0px;
    }
  }
  .header{
    
  }